name: Auto Gemini Writer + Blogger

on:
  schedule:
    - cron: "*/2 * * * *"   # 2 phút đăng 1 bài
  workflow_dispatch:

jobs:
  write_and_post:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install libs
        run: |
          pip install google-auth google-auth-oauthlib google-api-python-client pyyaml google-generativeai Pillow

      - name: Generate Article (Gemini)
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        run: python auto_generate_post_gemini.py

      - name: Post to Blogger
        env:
          BLOG_ID: ${{ secrets.BLOG_ID }}
          TOKEN_JSON: ${{ secrets.TOKEN_JSON }}
        run: python post_to_blogger.py
