name: Auto Post Blogger

on:
  schedule:
    - cron: "*/5 * * * *"

  workflow_dispatch:

jobs:
  autopost:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install libs
        run: pip install google-auth google-auth-oauthlib google-api-python-client pyyaml

      - name: Run autobot
        env:
          BLOG_ID: ${{ secrets.BLOG_ID }}
          TOKEN_JSON: ${{ secrets.TOKEN_JSON }}
        run: python post_to_blogger.py
